html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 60px; /* Margin bottom by footer height */
  background-color:#FDFDFD;
  margin-top:50px; 
}

.navbar.navbar-default {
  max-width: 95%;
  z-index:1;
  min-height: 65px;
  background-color: #ffffff;
  border-color: #eeeeee;
  -webkit-box-shadow: 0 8px 6px -6px #eeeeee;
  -moz-box-shadow: 0 8px 6px -6px #f6f6f6;
  box-shadow: 0 8px 6px -6px #eee;
  margin-left:30px;
}
.navbar-brand {
	padding: 10px 60px;
	height: 20px;
	line-height: 50px;
}	
.navbar.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 4px;
  padding: 90px 10px !important;
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (60px - line-height of 50px) / 2 = 15px */
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 35px;
  }
}

.navbar-icons {
	padding-right:40px;
}

@media only screen and (max-width: 950px) {
   .navbar-icons {
    padding-right:40px;
    width:20%;
    margin-left:30%;
   }
}

@media only screen and (max-width: 600px) {
   .navbar-icons {
    padding-right:40px;
    width:20%;
    margin-left:30%;
   }
}

.sidebar.sidebar {
  width:100px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 70px 1px 0px 30px ;
  background-color: #FFFFFF;
    border-style:solid;
  border-color: #eeeeee;
  -webkit-box-shadow: 8px 0px 6px -6px #eeeeee;
  -moz-box-shadow: 8px 0px 6px -6px #f6f6f6;
  box-shadow: 8px 0px 6px -6px #eee;
}

.sidebar-sticky {
  position: absolute;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  border-right: solid 5px #3fbcb3;
  color: #007bff;
  transition: 0.5s ease-out;
}
.sidebar .nav-link:hover {
	background-color:white;
}
.sidebar .nav-link.active {
	background-color:white;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

.sidebar-icons {
	position: relative;
	max-width:25px;
	max-height:35px;
}

.sidebar .nav-link.active > #sidebar1{
	content:url(sidebar1active.jpg);
}
#sidebar1:hover {
	content:url(sidebar1active.jpg);
}

.sidebar .nav-link.active > #sidebar2{
	content:url(sidebar2active.jpg);
}
#sidebar2:hover {
	content:url(sidebar2active.jpg);
}

.sidebar .nav-link.active > #sidebar3{
	content:url(sidebar3active.jpg);
}
#sidebar3:hover {
	content:url(sidebar3active.jpg);
}

body > .container {
  margin-left:150px;
  margin-top: 100px;
}
@media only screen and (max-width: 600px) {
	body > .container {
	width:90%;
	}
}
@media only screen and (max-width: 950px) {
	body > .container {
	width:90%;
	}
}

.container .text-muted {
  margin: 20px 0;
}

.footer {
  z-index:-2;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  text-align:center;
  
}

.footer > .container {
  padding:10px;
  width:30%;
}

.footer-text {
	color:#999999;
	margin:10px;
}

@media only screen and (max-width: 950px) {
   .footer-text {
   	  position:absolute;
      left: 50%;
      width:90%;
      
   }
}
@media only screen and (max-width: 600px) {
   .footer-text {
   	  position:absolute;
      left: 50%;
      width:90%;
   }
}

.footer-text-muted {

   }

@media only screen and (max-width: 950px) {
   .footer-text-muted {
   	  position:absolute;
      left: 50%;
      width:90%;
	  margin-top:20%;
   }
}
@media only screen and (max-width: 600px) {
   .footer-text-muted {
   	  position:absolute;
      left: 50%;
      width:90%;
	  margin-top:20%;
   }
}

#logo-image {
	max-width: 30%;
	max-height:170px;
}

#bell-icon {
	position: absolute;
	padding-top:5px;
	max-width: 45%;
	display: inline-block;
}

#user-icon {
	text-align:center;
	width: 35px;
	position: relative;
	display: inline-block;
	color: #FFFFFF;
	background:#B3E77F;
	border-radius: 100%;
}

.notification {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
  border-radius: 90px;
}
@media only screen and (max-width: 600px) {
   .notification {
      margin-bottom:40%;
   }
}
@media only screen and (max-width: 950px) {
   .notification {
      margin-bottom:40%;
   }
}

.notification:hover {
  
}

.notification .badge {
  width:30px;
  position: relative;
  top: -7px;
  right: -15px;
  padding: 3px 3px;
  border-radius: 100%;
  background-color: #f55d74;
  color: white;
  font-size: 13px;
}


.lead-box {
	margin-top:50px;
	margin-bottom:50px;
	background-color:#F9FBFB;
	color:#3EBCB3;
	text-align:left;
	padding-right:300px;
	font-size:17px;
}

@media only screen and (max-width: 600px) {
   .lead-box {
      padding-right:10%;
   }
}

@media only screen and (max-width: 950px) {
   .lead-box {
      padding-right:10%;
   }
}

#order-via-excel-sheet {
	border-radius:6px;
	padding-left:30px;
	padding-right:30px;
	margin-top:20px;
}
#order-button {
	padding-left:40px;
	padding-right:40px;
	margin-top:20px;
}
.btn-outline-success.btn-outline-success:hover {
	border-color:#27706b;
	color: #27706b;
	transition: 0.3s ease-in-out;
}

.btn-outline-success.btn-outline-success {
	background-color:#F9FBFB;
	border-color: #3EBCB3;
	border-width:1.25px;
	width:max-content;
	height:35px;
	color:#3EBCB3;
	border-radius:0px;
	text-align:center;
}

.card {
	background-color:#FFFFFF;
	width:30%;
	margin-right:39px;
	margin-bottom:100px;
	padding-top:30px;
	padding-bottom:30px;
}

@media only screen and (max-width: 950px) {
   .card {
      width:90%;
   }
}

@media only screen and (max-width: 600px) {
   .card {
      width:90%;
   }
}


.cardicon {
	width:70px;
	border-radius:100%;
}

.cardtitle {
	position:absolute;
	text-align:left;
	float:right;
	padding-right:100px;
	padding-left:20px;
	margin-top:20px;
}

.cardtext {
	color:#999999;
	float:left;
	padding-top:50px;
}

.card:hover {
  	border-color: #eeeeee;
   -webkit-box-shadow: 14px 14px 14px -10px #eeeeee;
   -moz-box-shadow: 14px 14px 14px -10px #f6f6f6;
    box-shadow: 14px 14px 14px -10px #eeeeee;
	transition: 0.25s ease-in-out;
}

.card:hover > .cardicon {
	content:url('emerald.JPG');
}