<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
	
	<link rel="icon" type="image/png" href="https://terriblytinytales.com/favico.jpg" sizes="16x16" />
	<link rel="icon" type="image/png" href="https://terriblytinytales.com/favico.jpg" sizes="32x32" />
	
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	
	
    <title>Task by Aditya Sahu</title>

    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="index.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script>
					
		$(document).ready(function () {
			document.getElementById('resultTable').style.display = "none";
			 document.getElementById('errorMsg').style.display = "none";
			 document.getElementById('myForm').addEventListener('submit', function(e) {
					submitfunc();
					e.preventDefault();
			}, false);
			$('.sidebar-sticky .nav li a').click(function(e) {
				$('.sidebar-sticky .nav li a.active').removeClass('active');
				var $parent = $(this).parent().find('a');
				$parent.addClass('active');
				e.preventDefault();
			});
		});		
			

		function submitfunc() {
			console.log('submit bttn clicked');
			var userInput = document.getElementById('userInput').value;
			if(userInput <= 0) { 
				document.getElementById('errorMsg').style.display = "";
				return;
			}
			else  document.getElementById('errorMsg').style.display = "none";
			 $.ajax({
				type: 'GET',
				url: '/findOccurrences?userInput='+userInput,
				contentType: 'application/json',
				success: function(response) {
					console.log(response);
					var resultTable = $('#resultTable');
					resultTable.empty();
					resultTable.append('\
					<thead>\
						<tr>\
							<th>#</th>\
							<th>Word</th>\
							<th>Frequency</th>\
						</tr>\
					</thead>\
					');
					var ctr=1;
					response.message.forEach(function(data){
					resultTable.append('<tr><td>'+ctr+'</td><td>'+data[0]+'</td><td>'+data[1]+'</td>');	
					ctr++;
					});
					
					document.getElementById('resultTable').style.display = "";
				}
			});
			
		}


		
	</script>
  </head>


  <body>
        
    <nav class="navbar navbar-default navbar-fixed-top flex-md-nowrap">
      <div class="container">
        
		<div class="navbar-header ">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img id="logo-image" src="logo.JPG"></img></a>
        </div>
        
		<div id="navbar" class="collapse navbar-collapse">
			<div class="navbar-icons">
			  <ul class="nav navbar-nav navbar-right">
				<li class="nav-item dropdown">
					<a href="#" class="notification dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
					  <img id="bell-icon" src="bell.png">
					  </img>
					 <span class="badge">699</span>
					</a>
					<ul class="dropdown-menu">
					  <li><a href="#">Your notifications appears here</a></li>
				    </ul>
				</li>
				
				<li class="nav-item dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span id="user-icon">AS</span></a>
				  <ul class="dropdown-menu">
					<li style="padding-left:15px;margin-bottom:5px;">Your profile:</li>
					<li><a href="#">Aditya Sahu</a></li>
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">Terribly Tiny Tales</li>
					<li><a href="#">app</a></li>
					<li><a href="#">stttore</a></li>
					<li><a href="#">talkies</a></li>
				  </ul>
				</li>
			  </ul>
			</div>
        </div>
		
      </div>
    </nav>
	
	
	<nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  <img id="sidebar1" class="sidebar-icons" src="sidebar1.jpg"></img> <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file"></span>
                  <img id="sidebar2" class="sidebar-icons" src="sidebar2.JPG"></img>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="shopping-cart"></span>
                  <img id="sidebar3" class="sidebar-icons" src="sidebar3.JPG"></img>
                </a>
              </li>
            </ul>
          </div>
    </nav>  
	
	
   <!-- Begin page content -->
    <div class="container">
      <div class="header">
		<h1><b>Terribly Tiny Tales - Find N Occurrences</b></h1>
      </div>
	  
      <div class="lead-box">
		<h4><b>Enter a number input N</b></h4>
		<small style="color:#9B9B9B;">
		On entering a value and pressing submit, the top N most frequently occurring words in this file hosted 
		at <a href="http://terriblytinytales.com/test.txt">http://terriblytinytales.com/test.txt</a> should be displayed with their frequency of occurrence in a 
		tabular format
		</small>
		<br /><br />
		<form id="myForm">
		  <div class="form-group">
			<label for="userInput">Your Input</label>
			<input name="userInput" type="number" min="1" class="form-control" id="userInput" placeholder="Enter a number input">
			<small class="form-text text-muted">Click on submit button to load the results.</small>
		  </div>
		</form>
		<button id="submitButton" class="btn btn-primary" onclick="submitfunc()">Submit</button>
	  </div>
	  <large id="errorMsg" style="color:red">Please enter a valid input.</large>
	 <table id="resultTable" border='1' class="table">
		<thead class="thead-light">
		<tr>
		<th>Word</th>
		<th>Frequency</th>
		</tr>
		</thead>
	 </table>
	  
    </div>

    <footer class="footer">
      <div class="container">
		  <div class="row">
			<div class="col-lg-3"><img class="footer-image" src="footer-image.JPG"/></div>
		  </div>
		  <div class="row footer-text">
			<span>Terribly Tiny Tales.</span>
			<br />
		  </div>
		  <div class="row">
		   <p class="footer-text-muted"><a href="#"><u>Privacy Policy</u></a> | <a href="#"><u>Terms of Service</u></a> | <a href="#"><u>Service Agreement</u></a> | <a href="#"><u>Contact us</u></a></p>
		  </div>
	  </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</html>